.header{
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.2rem;

  &-bar{

    display: none;
padding: 1rem;
transition: all .4s ease-in-out;
    & i{
  font-size: 2rem;
  animation: scale color .2s ease-in-out;
  &:hover{
    transform: scale(1.2);
    color: rgba(0, 0, 0, 0.428);
  }
    }
  }
&__two{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    align-items: center;

    &__form{
        position: relative;
        &__input {
border: none;
border-bottom: 1px solid rgba(0, 0, 0, 0.424);
font-size: 1.2rem;
padding: .2rem;
outline: none;
&::placeholder{
    position: absolute;

    right: 1rem;
}
        }
        &__btn{
            outline: none;
         position: absolute;
        right: 1.2rem;
         top: -.2rem;
         border: none;
         font-size: 1.1rem;
         padding: 0 1.2rem;
         background-color: transparent;
      &:hover{
        
      }
        }
    }
    &__bag{
        display: flex;
        gap: 1rem;
        &__heart{
            transition: hover .2s ease-in-out ;
            font-size: 2rem;
            &:hover{
                color: rgba(0, 0, 0, 0.444);
            }
        }
        
            }
        }
}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
margin: 2rem;
width: 100%;
padding: 3rem;
gap: 4rem;
    &-list{
      display: flex;
gap: 2rem;
      justify-content: centre;
      align-items: center;
      &__item{
        list-style: none;
        font-size: 1.2rem;
        font-weight: 600;
        &__link{
    text-decoration: none;
    text-transform: uppercase;
    transition: hover .3s ease-in;
    color: rgba(0, 0, 0, 0.742);
    &:hover{
      border-bottom: 1px solid $primary-color;
      color: rgba(3, 37, 68, 0.911);
    }
    

        }
      }
    }
    &-close{
      font-size: 2.3rem;
      display: none;
      color: $primary-color;
      &:hover{
  transform: translateX(20deg);
      }
    }
  }
@media screen and (max-width: 30.9em){
  .list{
    position: fixed;
    top: 0;
    left: -1000rem;
    background-color: #fff;
    width: 18rem;
    padding: 2rem;
    height: 100%;
    display: flex;
    z-index: 1000;
  transition: all .2s ease-in-out;
    flex-direction: column;
    align-items: start;
  }
  .nav-close{
    display: block;
    position: absolute;
    top: 1.2rem;
    right: -1rem;
    padding: 1rem;
  
  }
  .active{
    left: 0;
    transition: all .2s ease-in-out;
  }
  .header-bar{
    transition: all .2s ease-in-out;
    display: block;
    padding: 2rem;
  }
}

.sales{

  background-color:#A91D3A;
  color: $secondary-color ;
  display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: wrap;
padding: 2rem;
& h1{
  font-size: clamp(2.7rem, 2.4vw, 2.3rem);
  padding: 2rem;
  text-transform: capitalize;
  & span{
    display: block;
  }
  
}
& button{
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $secondary-color;
  font-size: 1.3rem;
  padding: .6rem;
  font-weight: 600;
  color: $secondary-color;
  text-transform: uppercase;
  transition: all .5s ease-in-out;
  &:hover{
    background-color: $secondary-color;
    color: $primary-color;
  }
}

}

.fixednav{
  position: fixed;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #ffff;
  z-index: 10000;
 

  }